{% extends "demo/dashboards/base.html" %}

{% load i18n unfold %}

{% block dashboard %}
    {% include "demo/dashboards/kpis.html" %}

    <div class="grid gap-8 lg:grid-cols-3">
        <div class="flex flex-col gap-8">
            {% trans "Current retention progress" as title %}
            {% include "demo/dashboards/progress.html" with items=progress %}

            {% trans "Top earnings" as title %}
            {% include "demo/dashboards/table.html" with table=top_customers %}
        </div>

        <div class="lg:col-span-2">
            {% trans "Weekly customer cohorts" as title %}
            {% component "unfold/components/card.html" with title=title %}
                {% component "unfold/components/chart/cohort.html" with data=cohort %}{% endcomponent %}
            {% endcomponent %}
        </div>
    </div>
{% endblock %}
